@import "variables.less";
@import "bootstrap_extra.less";
@import "admin_auto_imports.less";
@import "../bower_components/AdminApp/admin.less";


@grid-columns: 100;


body{
    background-color: #164b74;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    &::after{
        content: "";
        background-size: cover;
        z-index: -1;
        position: fixed;
        top: 0px; bottom: 0px; left: 0px; right: 0px;
        -webkit-filter: blur(3px) brightness(0.5);
        filter: blur(3px) brightness(0.5);

        @media(max-width: @screen-sm){
            background: url(/client/admin-bg.mobile.jpg) no-repeat center center fixed;
        }
        @media(min-width: @screen-sm){
            background: url(/client/admin-bg.jpg) no-repeat center center fixed;
        }
    }
}

.ta-root{
    .ta-toolbar{
        .btn{
            .fa{
                font-size: 1em;
            }
        }
    }
}
