._preloader(){
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #fbfbfb;
    z-index: 10000;
    overflow: hidden;
    &::after{
        content: '';
        background-image: data-uri('./preloader.gif');
        width: image-width('./preloader.gif');
        height: image-height('./preloader.gif');
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -0.5 * image-width('./preloader.gif');
        margin-top: -0.8 * image-height('./preloader.gif');
    }
    &.ng-hide{
        opacity: 0;
    }
}

.preloader{
    ._preloader;
    position: fixed;
}

.with-preloader{
    position: relative;
    .preloader{
        ._preloader;
        position: absolute;
        opacity: 0.3;
    }
}
