@import "variables.less";
@import "bootstrap_extra.less";
@import "index_auto_imports.less";

.navbar-brand.logo{
    padding-top: 2px;
    padding-bottom: 2px;
    img{
        display: block;
        height: 100%;
        width: auto;
    }
}




//
body{
    background-image: linear-gradient(to left, rgb(237, 229, 116), rgb(225, 245, 196));
}
