extends ./base/admin.jade


block ng_app
    //- подключаем файл с ngResource-моделями от cms и другие библиотеки, css
    if PLATFORM=='dev'
        link(rel="stylesheet", type="text/css", href="http://localhost:3000/client/dist/admin-bower.min.css")
        script(src="http://localhost:3000/client/dist/admin.js")
    else
        link(rel="stylesheet", type="text/css", href="https://storage.googleapis.com/lbcms-container-system/"+CMS_LIB_VERSION+"/admin-bower.min.css")
        script(src="https://storage.googleapis.com/lbcms-container-system/"+CMS_LIB_VERSION+"/admin.js")
    //-
    if PLATFORM!='prod'
        //-наконец подключаем само приложение.
        //-список формируется задачей grunt. не стоит его править вручную.
        <!-- start auto template tags -->
        <script src="/../client/override_cms_app/module.js"></script>
        <script src="/../client/override_cms_app/config.js"></script>
        <script src="/../client/override_cms_app/viewDirectives/directives.js"></script>
        <script src="/../client/override_admin_app/module.js"></script>
        <script src="/../client/override_admin_app/app.js"></script>
        <!-- end auto template tags -->
    else
        script(src="/client/override_admin_app.min.js")



block body_content
    admin-app
