extends ./base/index.jade


block ng_app
    //- подключаем файл с ngResource-моделями от cms и другие библиотеки, css
    if PLATFORM=='dev'
        script(src="http://localhost:3000/client/dist/cms+lw.js")
    else
        script(src="https://storage.googleapis.com/lbcms-container-system/"+CMS_LIB_VERSION+"/cms+lw.min.js")
    //-
    if PLATFORM!='prod'
        //-наконец подключаем само приложение.
        //-список формируется задачей grunt. не стоит его править вручную.
        <!-- start auto template tags -->
        <script src="/../client/helpers_app/module.js"></script>
        <script src="/../client/override_cms_app/module.js"></script>
        <script src="/../client/override_cms_app/config.js"></script>
        <script src="/../client/override_cms_app/viewDirectives/directives.js"></script>
        <script src="/../client/index_app/module.js"></script>
        <script src="/../client/index_app/app.js"></script>
        <script src="/../client/index_app/articles/views.js"></script>
        <script src="/../client/index_app/bodyCtrl.js"></script>
        <script src="/../client/index_app/config.js"></script>
        <script src="/../client/index_app/index/views.js"></script>
        <script src="/../client/index_app/page/views.js"></script>
        <!-- end auto template tags -->
    else
        script(src="/client/index_app.min.js")



block body_content
    
    header
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(ng-click="$cms.toggleNavbar()")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand.logo(href="/")
                        img(src="/client/logo.min.png")
                    a.navbar-brand(href="/") Site

                .collapse.navbar-collapse(uib-collapse="$cms.isNavbarCollapsed")
                    //-uic-navbar-nav(ng-model="$cms.settings.data.navbarConf", ng-if="$bulk.ready")
                    uic-navbar-nav(ng-model="navbarConf")

    .ui-view-container.text-center(ui-view='')

    footer

    
