doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon", href="data:;base64,iVBORw0KGgo=")
        base(href="/")
        title(ng-bind="$title | translate")

        block ng_app_css
            if PLATFORM!='prod'
                link(rel="stylesheet", type="text/css", href="/client/site.min.css")
            else
                style
                    include ../../client/preloader.css
                //-style
                    include ../../client/site.min.css
                link(rel="stylesheet", type="text/css", href="/client/site.min.css")



    body(ng-controller="BodyCtrl") 
        .preloader(ng-hide="ready")
        block body_content
        
        
        block js_scripts
            if PLATFORM!='prod'
                // bower:js
                script(src='/../bower_components/angular/angular.js')
                script(src='/../bower_components/angular-bootstrap-custom/ui-bootstrap-custom-tpls-1.3.3.min.js')
                script(src='/../bower_components/angular-ui-router/release/angular-ui-router.js')
                script(src='/../bower_components/angular-animate/angular-animate.js')
                script(src='/../bower_components/angular-gettext/dist/angular-gettext.js')
                script(src='/../bower_components/angular-scroll/angular-scroll.js')
                script(src='/../bower_components/angular-ui-router-title/angular-ui-router-title.js')
                script(src='/../bower_components/angular-loading-bar/build/loading-bar.js')
                // endbower
            else
                script(src='/client/bower_libs.min.js')
            script.
                //- даем возможность также загружать приложение через django
                var CMS_BASE_URL = '{{CMS_BASE_URL}}';
                var CMS_DB_BUCKET = '{{CMS_DB_BUCKET}}';
                var CMS_DEFAULT_LANG = '{{CMS_DEFAULT_LANG}}';
                var CMS_STORAGE = {
                    "type": "{{CMS_STORAGE.type}}",
                    "server": "{{CMS_STORAGE.server}}"
                };
                //- если django нет, то пытаемся подхватить переменные от jade
                if ( CMS_BASE_URL.indexOf('CMS_BASE_URL') > -1 || CMS_BASE_URL.length == 0 ){
                    CMS_BASE_URL = '#{CMS_BASE_URL}';
                }
                if (CMS_DB_BUCKET.indexOf('CMS_DB_BUCKET') > -1 || CMS_DB_BUCKET.length == 0){
                    CMS_DB_BUCKET = "#{CMS_DB_BUCKET}";
                }
                if (CMS_DEFAULT_LANG.indexOf('CMS_DEFAULT_LANG') > -1 || CMS_DEFAULT_LANG.length == 0){
                    CMS_DEFAULT_LANG = "#{CMS_DEFAULT_LANG}";
                }
                if (CMS_STORAGE.type.indexOf('CMS_STORAGE') > -1 || CMS_STORAGE.type.length == 0){
                    CMS_STORAGE.type = "#{CMS_STORAGE.type}";
                    CMS_STORAGE.server = "#{CMS_STORAGE.server}";
                }
            

        block ng_app


        block css_links
            link(rel="stylesheet", type="text/css",
                href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css",
                media="none" onload="if(media!='all')media='all'")
            if PLATFORM=='dev'
                // bower:css
                link(rel='stylesheet', href='/../bower_components/angular-loading-bar/build/loading-bar.css')
                // endbower
            else
                //
