//- оригинальный шаблон директивы
    lw-reviews-object(
            ng-if="forceLang",
            img-url="{{item.mainImgUrl.urlL10n | l10n:forceLang}}"
            img-file="item.mainImg",
            force-lang="forceLang", 
            title="{{item.title[forceLang]}}",
            headline="{{item.description[forceLang] || item.importedFrom}}",
            ng-href="{{item.importedUrl}}",
            class="{{itemClass || ''}}"
        )
        blockquote {{item.body[forceLang]}}
        
        
        
    lw-reviews-object(
            ng-if="!forceLang",
            img-url="{{item.mainImgUrl.urlL10n | l10n}}"
            img-file="item.mainImg",
            title="{{item.title | l10n}}",
            headline="{{(item.description | l10n) || item.importedFrom}}",
            ng-href="{{item.importedUrl}}",
            class="{{itemClass || ''}}"
        )
        blockquote {{item.body | l10n}}
