//- оригинальный шаблон директивы
    div(ng-if="forceLang")
        .title-block.lg
            h1.text-center {{item.title[forceLang]}}
            p {{item.created | date}}
        uic-img.pull-right.col-lg-50.col-sm-100(
            file="item.mainImg",
            force-lang="forceLang",
            ratio='reserve'
        )
        div(uic-bind-html="item.body[forceLang]")


    div(ng-if="!forceLang")
        .title-block.lg
            h1.text-center {{item.title | l10n}}
            p {{item.created | date}}
        uic-img.pull-right.col-lg-50.col-sm-100(
            file="item.mainImg",
            ratio='reserve'
        )
        div(uic-bind-html="{{item.body | l10n}}")
